{
  "extends": "stylelint-config-standard-scss",
  "ignoreFiles": [
    "node_modules/**/*.scss"
  ],
  "plugins": [
    "stylelint-scss",
    "stylelint-order"
  ],
  "rules": {
    "declaration-colon-newline-after": null,
    "at-rule-empty-line-before": null,
    "selector-pseudo-element-colon-notation": "double",
    "number-leading-zero": null,
    "selector-type-no-unknown": [true, {
      "ignoreTypes": ["/^%/"]
    }],
    "font-family-name-quotes": "always-where-recommended",
    "font-family-no-duplicate-names": true,
    "selector-no-qualifying-type": true,
    "declaration-block-no-redundant-longhand-properties": true,
    "max-nesting-depth": [2, {
      "ignoreAtRules": ["if", "else", "include", "import"]
    }],
    "at-rule-no-unknown": [ true, {
      "ignoreAtRules": [
        "if",
        "else",
        "include",
        "extend",
        "return",
        "function",
        "mixin",
        "content"
      ]
    }],
    "string-quotes": "single",
    "selector-type-case": "lower",
    "selector-class-pattern": ["^[a-z0-9-]+$", {
      "message": "Hyphenated lower case expected, no camel case or snake case selectors"
    }],
    "scss/at-function-pattern": ["^[a-z-]+$", {
      "message": "Hyphenated lower case expected, no camel case or snake case functions"
    }],
    "scss/dollar-variable-pattern": ["^[a-z0-9-]+$", {
      "message": "Hyphenated lower case expected, no camel case or snake case variables"
    }],
    "scss/at-mixin-pattern": ["^[a-z-]+$", {
      "message": "Hyphenated lower case expected, no camel case or snake case mixins"
    }],
    "scss/percent-placeholder-pattern": "^[a-z0-9-]+$",
    "scss/dollar-variable-colon-space-after": "always",

    "scss/at-import-no-partial-leading-underscore": true,
    "scss/selector-no-redundant-nesting-selector": true,
    "scss/at-mixin-argumentless-call-parentheses": "always",
    "order/order": [
      "dollar-variables",
      {
        "type": "at-rule",
        "hasBlock": false
      },
      "declarations",
      {
        "type": "at-rule",
        "hasBlock": true
      },
      "rules",
      {
        "type": "at-rule",
        "hasBlock": true,
        "name": "include",
        "parameter": "media"
      },
      {
        "type": "at-rule",
        "hasBlock": false,
        "name": "return"
      }
    ],
    "order/properties-order": [
      [
        "display",
        "position",
        "top",
        "right",
        "bottom",
        "left",
        "float",
        "clear",
        "align-content",
        "align-items",
        "align-self",
        "flex",
        "flex-basis",
        "flex-direction",
        "flex-flow",
        "flex-grow",
        "flex-shrink",
        "flex-wrap",
        "justify-content",
        "order",
        "columns",
        "column-gap",
        "column-fill",
        "column-rule",
        "column-rule-width",
        "column-rule-style",
        "column-rule-color",
        "column-span",
        "column-count",
        "column-width",
        "backface-visibility",
        "perspective",
        "perspective-origin",
        "transform",
        "transform-origin",
        "transform-style",
        "transition",
        "transition-delay",
        "transition-duration",
        "transition-property",
        "transition-timing-function",
        "visibility",
        "opacity",
        "z-index",
        "margin",
        "margin-top",
        "margin-right",
        "margin-bottom",
        "margin-left",
        "outline",
        "outline-offset",
        "outline-width",
        "outline-style",
        "outline-color",
        "border",
        "border-top",
        "border-right",
        "border-bottom",
        "border-left",
        "border-width",
        "border-top-width",
        "border-right-width",
        "border-bottom-width",
        "border-left-width",
        "border-style",
        "border-top-style",
        "border-right-style",
        "border-bottom-style",
        "border-left-style",
        "border-radius",
        "border-top-left-radius",
        "border-top-right-radius",
        "border-bottom-left-radius",
        "border-bottom-right-radius",
        "border-color",
        "border-top-color",
        "border-right-color",
        "border-bottom-color",
        "border-left-color",
        "border-image",
        "border-image-source",
        "border-image-width",
        "border-image-outset",
        "border-image-repeat",
        "border-image-slice",
        "box-shadow",
        "background",
        "background-attachment",
        "background-clip",
        "background-color",
        "background-image",
        "background-origin",
        "background-position",
        "background-repeat",
        "background-size",
        "cursor",
        "padding",
        "padding-top",
        "padding-right",
        "padding-bottom",
        "padding-left",
        "width",
        "min-width",
        "max-width",
        "height",
        "min-height",
        "max-height",
        "overflow",
        "overflow-x",
        "overflow-y",
        "resize",
        "list-style",
        "list-style-type",
        "list-style-position",
        "list-style-image",
        "caption-side",
        "table-layout",
        "border-collapse",
        "border-spacing",
        "empty-cells",
        "animation",
        "animation-name",
        "animation-duration",
        "animation-timing-function",
        "animation-delay",
        "animation-iteration-count",
        "animation-direction",
        "animation-fill-mode",
        "animation-play-state",
        "vertical-align",
        "direction",
        "tab-size",
        "text-align",
        "text-align-last",
        "text-justify",
        "text-indent",
        "text-transform",
        "text-decoration",
        "text-decoration-color",
        "text-decoration-line",
        "text-decoration-style",
        "text-rendering",
        "text-shadow",
        "text-overflow",
        "line-height",
        "word-spacing",
        "letter-spacing",
        "white-space",
        "word-break",
        "word-wrap",
        "color",
        "font",
        "font-family",
        "font-size",
        "font-size-adjust",
        "font-stretch",
        "font-weight",
        "font-smoothing",
        "osx-font-smoothing",
        "font-variant",
        "font-style",
        "content",
        "quotes",
        "counter-reset",
        "counter-increment",
        "page-break-before",
        "page-break-after",
        "page-break-inside"
      ],
      { "unspecified": "bottom" }
    ]
  }
}
